# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*

*.hex
*.lst
*.bat

/__pycache__

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
